{% extends "layouts/application.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <img src="{{img}}" alt="Estaciones" width="500">
  </div>
  <div class="col-lg-4">
    <ul class="button-list">
      <li><a class="btn btn-primary" href="/measurements/generate_air_map">Mapa Madrid Central</a></li>
      <li><a href="/classificators/create" class="btn btn-outline-success" role="button">Clasificar</a></li>
      <li><button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalClean">Limpiar</button></li>
    </ul>
  </div>
</div>

<!-- Modal Clean -->
<div class="modal fade" id="modalClean" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {% include 'classificators/delete.html' %}
</div>

{% endblock content %}
