{% extends "layouts/application.html" %}

{% block content %}
<div class="row">
  <div class="col-8">
    <img src="{{img}}" alt="Estaciones" width="500">
  </div>
  <div class="col-4">
      <a href="/classificators/create" class="btn btn-primary" role="button">Clasificar</a>
      <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalClean">Limpiar</button>
  </div>
</div>

<!-- Modal Clean -->
<div class="modal fade" id="modalClean" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {% include 'classificators/delete.html' %}
</div>

{% endblock content %}
