{% extends "layouts/application.html" %}

{% block content %}

<h2>Dates</h2>
<div class="row">
  <div class="col-lg-8">
    Aqui van los datos
  </div>
  <div class="col-lg-4">
    <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalNew">Crear</button>
    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete">Eliminar</button>
  </div>
</div>


<!-- Modal New -->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {% include 'dates/create.html' %}
</div>

<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  {% include 'dates/delete.html' %}
</div>

{% endblock content %}
