{% extends "layouts/application.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-8">
      <h2>Dates</h2>
    </div>
    <div class="col-lg-4">
      <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalNew">Cargar</button>
      <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete">Eliminar</button>
    </div>
  </div>
  {{ pagination.info }}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Day</th>
        <th scope="col">Month</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <tbody>
      {% for day in days %}
        <tr>
          <th scope="row">{{ day.id }}</th>
          <td>{{ day.day }}</td>
          <td>{{ day.month }}</td>
          <td>{{ day.year }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ pagination.links }}

  <!-- Modal New -->
  <div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    {% include 'days/create.html' %}
  </div>

  <!-- Modal Delete -->
  <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    {% include 'days/delete.html' %}
  </div>
{% endblock content %}
