<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form action="/magnitudes/create" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cargar magnitudes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row input-group">
            <div class="radio_check">
              <input name="magnitudeCategory" type="radio" value="aire" id="radio_calidad" aria-label="Radio button for following text input" checked="checked">
              <label for="radio_calidad">Calidad de aire</label>
            </div>
            <div class="radio_check">
              <input name="magnitudeCategory" type="radio" value="transito" id="radio_transito" aria-label="Radio button for following text input">
              <label for="radio_transito">Tránsito</label>
            </div>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" name="file" accept=".csv" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Escoger archivo...</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Cargar</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $('.custom-file input').change(function (e) {
    $(this).next('.custom-file-label').html($(this)[0].files[0].name);
  });

</script>
