<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form action="/measurements/generate_map" method="post">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccionar periodo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="form-group">
              <p>Fecha de inicio</p>
              <div class="input-group date" id="initialDay" data-target-input="nearest">
                <input name="initialDay" type="text" class="form-control datetimepicker-input" data-target="#initialDay"/>
                  <div class="input-group-append" data-target="#initialDay" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Crear</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function () {
      $("#initialDay").datetimepicker({format: "L"});
      $("#finalDay").datetimepicker({format: "L"});
  });
</script>
