{% extends "layouts/application.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-4">
        <h2>Medidas</h2>
    </div>
    <div class="col-lg-8">
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalStation">Mapa estaciones</button>
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalNew">Crear</button>
        <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalMap">Mapa Calidad de aire</button>
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete">Eliminar</button>

    </div>
</div>
{{ pagination.info }}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Día</th>
        <th scope="col">Hora</th>
        <th scope="col">Magnitud</th>
        <th scope="col">Valor</th>
        <th scope="col">Validación</th>
    </tr>
    </thead>
    <tbody>
    {% for measurement in measurements %}
    <tr>
        <th scope="row">{{ measurement.station_id }}</th>
        <td>{{ measurement.day_id }}</td>
        <td>{{ measurement.time_id }}</td>
        <td>{{ measurement.magnitude_id }}</td>
        <td>{{ measurement.value }}</td>
        <td>{{ measurement.validation }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{{ pagination.links }}

<!-- Modal New -->
<div class="modal fade" id="modalNew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    {% include 'measurements/create.html' %}
</div>

<!-- Modal Delete -->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    {% include 'measurements/delete.html' %}
</div>

<!-- Modal Station -->
<div class="modal fade" id="modalStation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    {% include 'measurements/generate_map.html' %}
</div>

<!-- Modal map -->
<div class="modal fade" id="modalMap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    {% include 'measurements/generate_air_map.html' %}
</div>

{% endblock content %}
